@model Blog
@{
    ViewData["Title"] = "Update";
}

<div class="col-xl-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">Blog Create</h4>

            <form method="post">
                <div class="row mb-4">
                    <label asp-for="Description" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="Description" class="form-control" placeholder="Description">
                        <span class="text-danger" asp-validation-for="Description"></span>

                    </div>
                </div>


                <div class="row mb-4">
                    <label asp-for="Creator" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="Creator" class="form-control" placeholder="Creator">
                        <span class="text-danger" asp-validation-for="Creator"></span>
                    </div>
                </div>


                <div class="row mb-4">
                    <label asp-for="date" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="date" class="form-control" placeholder="date">
                        <span class="text-danger" asp-validation-for="date"></span>
                    </div>
                </div>

                <div class="row mb-4">
                    <label asp-for="ImagePath" class="col-sm-3 col-form-label">select image</label>
                    <div class="col-sm-9">
                        <input asp-for="ImagePath" class="form-control" placeholder="ImagePath">
                        <span class="text-danger" asp-validation-for="ImagePath"></span>
                    </div>
                </div>

                <div class="row justify-content-end">
                    <div class="col-sm-9">
                        <div>
                            <button type="submit" class="btn btn-primary w-md">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>
